.login-page {
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    background: linear-gradient(-45deg, #000000, #303230, #414b40, #526350, #0d7d02);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.login-container {
    text-align: center;
    padding: 24px;
    background-color: rgba(50, 91, 56, 0.8);
    z-index: 2;
}

.error-message {
    color: rgba(239, 71, 20, 0.858);
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
    z-index: 2;
}

::placeholder {
    color: #fff;
    z-index: 2;
}

h2 {
    color: #1ed70d;
    font-size: 2rem;
    margin-bottom: 20px;
    z-index: 2;
}

.wrapper{
    border-style: solid;
    border-color: rgba(127,195,95,0.6);
    padding: 20px 40px;
    border-radius: 1%;
    background-color: rgba(217, 217, 217,0.2);
    filter:drop-shadow(50px);
    display:flex;
    box-sizing: border-box;
    position: relative ;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon {
    margin-right: 10px;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: -8px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    outline: none;
    margin-left: 5px;
    z-index: 2;
}

button {
    padding: 12px 20px;
    background-color: #1ac536;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ;
    margin-top: 10px;
}

button:hover {
    background-color: #207F30;
    color: rgb(0, 0, 0);
}

p {
    margin-top: 20px;
    color: #fff;
}

a {
    color: #1ed70d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
