@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(0, 0, 0);
    color: #fff;
    padding: 0.6rem;
    z-index: 1;
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}

.nav-links li {
    margin-right: 3rem;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: larger;
    font-family: 'Quicksand';
}

.nav-links li a:hover {
    color: #1ed70d;
    text-decoration: none;
}

.nav-links li button {
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    margin: 0;
}

.nav-links li button:hover {
    color: #1ed70d;
    text-decoration: none;
}

.nav-brand {
    display: flex;
    align-items: center;
    color: #1ed70d;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 3rem;
}

.nav-brand-img {
    display: flex;
    height: 75px;
    width: 150px;
}

.navbar-container {
    position: relative;
}

.dropdown-menu {
    position: fixed;
    display: inline;
    top: 70px;
    right: 5px;
    background-color: rgb(31, 27, 27);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    z-index: 1000;
}

.avatar:hover {
    color: rgb(30, 215, 13);
}
.logoutButton {
    background-color: rgba(56, 72, 55, 0.3);
    color: #fff;
    text-align: center;
}
.logoutButton:hover {
    color: red;
    background-color: rgba(56, 72, 55, 0.3);
}
