.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 100px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 1.8rem;
    z-index: 1;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: right;
    justify-content: right;
}

.nav-links li {
    margin-left: 32rem;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #1ed70d;
    text-decoration: none;
}
