.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 27, 27);
    border-style: solid;
    border-color: aqua;
    padding: 10px;
    z-index: 100;
}

.Loadings {
    size: 100px;
}
