@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    height: 90vh;
    width: 100vw;
    background: linear-gradient(180deg, #000000, #29523f, #000000);
    font-family: 'Glacial Indifference';
}

.brand-logo {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: beige;
}

input#gameInput {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    transition:
        border-color 0.3s ease,
        box-shadow 0.3s ease;
}

input#gameInput:focus {
    outline: none;
    border-color: #0a0e0b;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    padding: 8px 16px;
    background-color: #2c6a33;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 13px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0ea720c8;
}

.scoreboard {
    display: flex;
    margin-top: 20px;
    border-style: solid;
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(238, 229, 229, 0.0);
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .brand-logo {
        max-width: 200px;
        max-height: 150px;
    }
}

.correct-guess {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.908);
    border-color: rgb(0, 255, 0);
}

.incorrect-guess {
    border-color: red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    animation: shake 0.8s ease forwards;
}

.score-correct {
    color: rgb(14, 200, 14);
    animation: scaleUp 0.9s ease forwards;
}

.score-incorrect {
    color: red;
    animation: shakeAndScale 0.5s ease forwards;
}

@keyframes shake {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes shakeAndScale {
    0% {
        transform: rotate(0) scale(1);
    }
    25% {
        transform: rotate(-10deg) scale(1);
    }
    50% {
        transform: rotate(10deg) scale(1);
    }
    75% {
        transform: rotate(-10deg) scale(1);
    }
    100% {
        transform: rotate(0) scale(1);
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(3);
    }
}
span {
    color: #fff;
}





