body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: SpinningWheel 20s ease infinite forwards;
    background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ff0000, #00ff00);
    background-size: 500% 100%;
}
@keyframes SpinningWheel {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 25% 50%;
    }
    50% {
        background-position: 50% 50%;
    }
    75% {
        background-position: 75% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#root {
    text-align: center;
    margin-top: 0px;
}

#userInput {
    text-align: center;
    margin-top: 10px;
}

#buttons {
    text-align: center;
    margin-top: 10px;
}

.media-type-options {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.media-type-button,
.upload-button,
.cancel-button,
.text-uploader-button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #39ff14;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.media-type-button:hover,
.upload-button:hover,
.cancel-button:hover,
.text-uploader-button:hover {
    background-color: #0d9b00; /* Darker neon green on hover */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.dialog-container {
    text-align: center;
    padding: 20px;
    background-color: #373d48;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 3;
}

.upload-button.dialog,
.cancel-button,
.text-uploader-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #39ff14;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s; /* Adding a smooth transition effect */
}

.upload-button.dialog:hover,
.cancel-button:hover,
.text-uploader-button:hover {
    background-color: #0d9b00; /* Darker neon green on hover */
}
