@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

<<<<<<< HEAD
:root {
    background-color: rgb(23, 23, 23);
    overflow-x: hidden;
=======
.body {
    color: inherit;
>>>>>>> main
}
.about-us {
    font-family: 'Roboto';
    height: 150vh;
    padding: 200px;
    background-color: rgb(23, 23, 23);
}
.about-us-bg {
    height: 100vh;
<<<<<<< HEAD
    width: 100vw;
=======
    width: 100%;
>>>>>>> main
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.about-us-image {
    width: 100%;
<<<<<<< HEAD
    height: 80%;
=======
    height: 70%;
>>>>>>> main
    position: relative;
}
.about-us-image img {
    width: 100%;
    height: 125%;
    display: block;
}
<<<<<<< HEAD

.team-image {
    opacity: 0.3;
    position: absolute;
    object-fit: cover;
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 1);
}
.about-us-title {
    opacity: 1;
    outline: #6eff29;
    z-index: 0;
    text-decoration: underline;
    text-decoration-color: #6eff29;
    text-decoration-thickness: 1.5px;
    font-size: 70px;
    text-underline-offset: 10px;
    text-decoration-skip: 200px;
    position: absolute;
    top: 20%;
    right: 29%;
=======
.about-us-title {
    width: 100%;
    height: 125%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.2s;
}
.about-us-title {
    opacity: 1;
}
.about-us-title h1 {
    font-size: 102px;
    letter-spacing: 0.3rem;
    margin-bottom: -35px;
}
.about-us-title > * {
    transform: translateY(25px);
    transition: transform 0s;
}
.about-us-title > * {
    transform: translateY(0px);
}
.underline {
    color: #6eff29;
    padding: 0px;
    white-space: 0px;
}

.team-image {
    opacity: 0.5;
    text-wrap: wrap;
    width: 75%;
    filter: blur(01px);
    z-index: 2;
}

.logo-divider {
    display: flex;
    border-style: solid;
    color: black;
    width: 140px;
    margin-left: 30px;
    background-color: white;
>>>>>>> main
}

.company-info {
    display: flex;
    flex: 1;
    text-align: left;
    margin-bottom: 0px;
    width: 100%;
    padding: 0px 0px;
<<<<<<< HEAD
    scale: 0.8;
    opacity: 0;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: -150px;
    animation-range-end: 1050px;
}
@keyframes fade-in {
    50% {
        scale: 1;
        opacity: 1;
    }
    100% {
        scale: 0.8;
        opacity: 0;
    }
=======
>>>>>>> main
}
.company-info-details {
    line-height: 40px;
    font-size: 24px;
    padding-right: 75px;
<<<<<<< HEAD
    padding-left: 75px;
=======
>>>>>>> main
}

.goal-info {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    width: 100%;
<<<<<<< HEAD
    scale: 0.8;
    opacity: 0;
    animation: fade-in2 linear;
    animation-timeline: view();
    animation-range-start: -150px;
    animation-range-end: 1040px;
}
@keyframes fade-in2 {
    50% {
        scale: 1;
        opacity: 1;
    }
    100% {
        scale: 0.8;
        opacity: 0;
    }
=======
>>>>>>> main
}

.goal-image {
    flex: 1;
<<<<<<< HEAD
    padding-left: 75px;
=======
>>>>>>> main
}
.goal-info-details {
    flex: 1;
    margin: 0px 25px;
    line-height: 60px;
    font-size: 24px;
}

.team-members {
    display: flex;
    position: relative;
    width: fit-content;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    position: flex;
    width: 200px;
    height: 260px;
    padding: 10px 20px;
    transform-style: preserve-3d;
    transition: all 2s ease;
}

.cardFlipped {
    position: flex;
    width: 200px;
    height: 260px;
    padding: 10px 20px;
    transform-style: preserve-3d;
    transition: all 2s ease;
    transform: rotateY(180deg);
}

.team-member {
    position: absolute;
    width: 200px;
    height: 260px;
    background: #fff;
    border-radius: 5px;
    transform: rotateY(180deg);
    flex-direction: column;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to top, green, yellow, yellow, green);
    animation: wave 4s ease-in-out infinite;
}

@keyframes wave {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 0 -10px;
    }
    100% {
        background-position: 0 0;
    }
}
.team-member img {
    position: relative;
    width: 100%;
    height: 70%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
}
.team-member-name {
    margin-top: -15px;
    font-size: 18px;
    font-weight: bolder;
    color: #2d5e4a;
    text-align: center;
}
.team-member-detail {
    text-align: center;
    font-size: 0.75rem;
    color: #fff;
}
.backOfCard {
    position: absolute;
    width: 200px;
    height: 260px;
    border-radius: 5px;
    color: #6eff29;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}
